nav.navbar.navbar-default {
	box-shadow: none !important;
}

@media only screen and (min-width: 768px) {
  .intro-header {
    height: 350px;
  }
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 126px 0;
  }
  
  div.site-heading h1.show-title {
    overflow: hidden;
    max-height: 176px; /* 80 * 1.1 * 2 = 2 lines */
  }
}

.post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-meta > a {
  text-decoration: none !important;
  color: #337ab7 !important;
  cursor: default !important;
  /*color: #404040;*/
}
.post-meta > a:hover,
.post-meta > a:focus {
  background-color: #337ab7 !important;
  color: #fff !important;
}
/*.post-meta > a:hover,
.post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}*/

@media only screen and (max-width: 767px) {
  header.intro-header {
    height: 350px !important;
  }
  div.site-heading {
    padding-top: 150px !important;
  }

  h1.show-title {
    word-wrap: break-word;
    overflow: hidden;
    max-height:115px; /* 50 * 1.1 * 3 = 3 lines */
  }
}

center + ul {
  margin-top:30px;
}
li > center {
  margin: 30px 0;
}